/*********************************************/
/*************** CUSTOM MIXINS  *************/
/********************************************/
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1380px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1250px;
    max-width: 100%;
  }
}

@media (min-width: 1380px) {
  .container {
    width: 1350px;
    max-width: 100%;
  }
}

.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1280px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1380px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media (min-width: 1280px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media (min-width: 1380px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters.container, .no-gutters.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 768px) {
  .no-gutters-md {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 1280px) {
  .no-gutters-lg {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 1380px) {
  .no-gutters-xl {
    margin-right: 0;
    margin-left: 0;
  }
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1280px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1380px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.pull-0 {
  right: auto;
}

.pull-1 {
  right: 8.33333%;
}

.pull-2 {
  right: 16.66667%;
}

.pull-3 {
  right: 25%;
}

.pull-4 {
  right: 33.33333%;
}

.pull-5 {
  right: 41.66667%;
}

.pull-6 {
  right: 50%;
}

.pull-7 {
  right: 58.33333%;
}

.pull-8 {
  right: 66.66667%;
}

.pull-9 {
  right: 75%;
}

.pull-10 {
  right: 83.33333%;
}

.pull-11 {
  right: 91.66667%;
}

.pull-12 {
  right: 100%;
}

.push-0 {
  left: auto;
}

.push-1 {
  left: 8.33333%;
}

.push-2 {
  left: 16.66667%;
}

.push-3 {
  left: 25%;
}

.push-4 {
  left: 33.33333%;
}

.push-5 {
  left: 41.66667%;
}

.push-6 {
  left: 50%;
}

.push-7 {
  left: 58.33333%;
}

.push-8 {
  left: 66.66667%;
}

.push-9 {
  left: 75%;
}

.push-10 {
  left: 83.33333%;
}

.push-11 {
  left: 91.66667%;
}

.push-12 {
  left: 100%;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
  }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .pull-sm-0 {
    right: auto;
  }
  .pull-sm-1 {
    right: 8.33333%;
  }
  .pull-sm-2 {
    right: 16.66667%;
  }
  .pull-sm-3 {
    right: 25%;
  }
  .pull-sm-4 {
    right: 33.33333%;
  }
  .pull-sm-5 {
    right: 41.66667%;
  }
  .pull-sm-6 {
    right: 50%;
  }
  .pull-sm-7 {
    right: 58.33333%;
  }
  .pull-sm-8 {
    right: 66.66667%;
  }
  .pull-sm-9 {
    right: 75%;
  }
  .pull-sm-10 {
    right: 83.33333%;
  }
  .pull-sm-11 {
    right: 91.66667%;
  }
  .pull-sm-12 {
    right: 100%;
  }
  .push-sm-0 {
    left: auto;
  }
  .push-sm-1 {
    left: 8.33333%;
  }
  .push-sm-2 {
    left: 16.66667%;
  }
  .push-sm-3 {
    left: 25%;
  }
  .push-sm-4 {
    left: 33.33333%;
  }
  .push-sm-5 {
    left: 41.66667%;
  }
  .push-sm-6 {
    left: 50%;
  }
  .push-sm-7 {
    left: 58.33333%;
  }
  .push-sm-8 {
    left: 66.66667%;
  }
  .push-sm-9 {
    left: 75%;
  }
  .push-sm-10 {
    left: 83.33333%;
  }
  .push-sm-11 {
    left: 91.66667%;
  }
  .push-sm-12 {
    left: 100%;
  }
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
  }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .pull-md-0 {
    right: auto;
  }
  .pull-md-1 {
    right: 8.33333%;
  }
  .pull-md-2 {
    right: 16.66667%;
  }
  .pull-md-3 {
    right: 25%;
  }
  .pull-md-4 {
    right: 33.33333%;
  }
  .pull-md-5 {
    right: 41.66667%;
  }
  .pull-md-6 {
    right: 50%;
  }
  .pull-md-7 {
    right: 58.33333%;
  }
  .pull-md-8 {
    right: 66.66667%;
  }
  .pull-md-9 {
    right: 75%;
  }
  .pull-md-10 {
    right: 83.33333%;
  }
  .pull-md-11 {
    right: 91.66667%;
  }
  .pull-md-12 {
    right: 100%;
  }
  .push-md-0 {
    left: auto;
  }
  .push-md-1 {
    left: 8.33333%;
  }
  .push-md-2 {
    left: 16.66667%;
  }
  .push-md-3 {
    left: 25%;
  }
  .push-md-4 {
    left: 33.33333%;
  }
  .push-md-5 {
    left: 41.66667%;
  }
  .push-md-6 {
    left: 50%;
  }
  .push-md-7 {
    left: 58.33333%;
  }
  .push-md-8 {
    left: 66.66667%;
  }
  .push-md-9 {
    left: 75%;
  }
  .push-md-10 {
    left: 83.33333%;
  }
  .push-md-11 {
    left: 91.66667%;
  }
  .push-md-12 {
    left: 100%;
  }
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 1280px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
  }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .pull-lg-0 {
    right: auto;
  }
  .pull-lg-1 {
    right: 8.33333%;
  }
  .pull-lg-2 {
    right: 16.66667%;
  }
  .pull-lg-3 {
    right: 25%;
  }
  .pull-lg-4 {
    right: 33.33333%;
  }
  .pull-lg-5 {
    right: 41.66667%;
  }
  .pull-lg-6 {
    right: 50%;
  }
  .pull-lg-7 {
    right: 58.33333%;
  }
  .pull-lg-8 {
    right: 66.66667%;
  }
  .pull-lg-9 {
    right: 75%;
  }
  .pull-lg-10 {
    right: 83.33333%;
  }
  .pull-lg-11 {
    right: 91.66667%;
  }
  .pull-lg-12 {
    right: 100%;
  }
  .push-lg-0 {
    left: auto;
  }
  .push-lg-1 {
    left: 8.33333%;
  }
  .push-lg-2 {
    left: 16.66667%;
  }
  .push-lg-3 {
    left: 25%;
  }
  .push-lg-4 {
    left: 33.33333%;
  }
  .push-lg-5 {
    left: 41.66667%;
  }
  .push-lg-6 {
    left: 50%;
  }
  .push-lg-7 {
    left: 58.33333%;
  }
  .push-lg-8 {
    left: 66.66667%;
  }
  .push-lg-9 {
    left: 75%;
  }
  .push-lg-10 {
    left: 83.33333%;
  }
  .push-lg-11 {
    left: 91.66667%;
  }
  .push-lg-12 {
    left: 100%;
  }
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 1380px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
  }
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .pull-xl-0 {
    right: auto;
  }
  .pull-xl-1 {
    right: 8.33333%;
  }
  .pull-xl-2 {
    right: 16.66667%;
  }
  .pull-xl-3 {
    right: 25%;
  }
  .pull-xl-4 {
    right: 33.33333%;
  }
  .pull-xl-5 {
    right: 41.66667%;
  }
  .pull-xl-6 {
    right: 50%;
  }
  .pull-xl-7 {
    right: 58.33333%;
  }
  .pull-xl-8 {
    right: 66.66667%;
  }
  .pull-xl-9 {
    right: 75%;
  }
  .pull-xl-10 {
    right: 83.33333%;
  }
  .pull-xl-11 {
    right: 91.66667%;
  }
  .pull-xl-12 {
    right: 100%;
  }
  .push-xl-0 {
    left: auto;
  }
  .push-xl-1 {
    left: 8.33333%;
  }
  .push-xl-2 {
    left: 16.66667%;
  }
  .push-xl-3 {
    left: 25%;
  }
  .push-xl-4 {
    left: 33.33333%;
  }
  .push-xl-5 {
    left: 41.66667%;
  }
  .push-xl-6 {
    left: 50%;
  }
  .push-xl-7 {
    left: 58.33333%;
  }
  .push-xl-8 {
    left: 66.66667%;
  }
  .push-xl-9 {
    left: 75%;
  }
  .push-xl-10 {
    left: 83.33333%;
  }
  .push-xl-11 {
    left: 91.66667%;
  }
  .push-xl-12 {
    left: 100%;
  }
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  font-size: 62.5%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--infocobweb-font-main);
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
  color: var(--infocobweb-color-text);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  background: #fff;
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--infocobweb-color-text);
}

p {
  line-height: 1.4;
}

/* CURSOR *
* {
    cursor: none;
}
.cursor {
    height: 10px;
    width:  10px;
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
    transform: translate(-50%, -50%);
    user-select: none;
    pointer-events: none;

}

.cursor.cursor-follower {
    transition: top .1s, left .1s, width .3s, height .3s;
    transition-timing-function: ease-out;
    height: 60px;
    width:  60px;
    border: 1px solid rgba(#000, .3);
}

.cursor.cursor-dot {
    background: #000;
    transition: width .25s, height .25s;
}

.cursor-follower.active {
    height: 0;
    width:  0;
}

.cursor-dot.active {
    height: 7px;
    width:  7px;
}

/* ANIMATIONS */
@keyframes reveal-y {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes reveal-x {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes reveal-real {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    top: 70%;
  }
  to {
    opacity: 1;
    top: 100%;
  }
}

@keyframes fadeInMenuMobile {
  from {
    opacity: 0;
    margin-left: -100%;
  }
  to {
    opacity: 1;
    margin-left: initial;
  }
}

@keyframes slide-header {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes rev-block {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}

@keyframes appear-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scroll {
  0%,
  20% {
    transform: translateY(0) scaleY(1);
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(1.2em) scaleY(1.5);
    opacity: 0.01;
  }
}

.reveal-parent [class*="reveal-anim-to-"] {
  transition: 1s cubic-bezier(0.08, 0.43, 0.19, 1.03);
  opacity: 1;
}

.reveal-parent [class*="reveal-anim-to-"].reveal-anim-visible {
  opacity: 1;
  transition-delay: .3s;
}

.reveal-parent [class*="reveal-anim-to-"].reveal-anim-visible.reveal-delay {
  transition-delay: .5s;
}

.reveal-parent [class*="reveal-anim-to-"].reveal-anim-visible.reveal-delay-2 {
  transition-delay: .7s;
}

.reveal-parent .reveal-anim-to-fade {
  opacity: 1;
}

.reveal-parent .reveal-anim-to-top {
  transform: translateY(60px);
}

.reveal-parent .reveal-anim-to-top.reveal-anim-visible {
  transform: translateY(0);
}

.reveal-parent .reveal-anim-to-bottom {
  transform: translateY(-60px);
}

.reveal-parent .reveal-anim-to-bottom.reveal-anim-visible {
  transform: translateY(0);
}

.reveal-parent .reveal-anim-to-left {
  transform: translateX(-60px);
}

.reveal-parent .reveal-anim-to-left.reveal-anim-visible {
  transform: translateX(0);
}

.reveal-parent .reveal-anim-to-right {
  transform: translateX(60px);
}

.reveal-parent .reveal-anim-to-right.reveal-anim-visible {
  transform: translateX(0);
}

.reveal-parent .reveal-anim-to-flip {
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: rotate3d(-1, 1, 0, -80deg);
  opacity: 0;
}

.reveal-parent .reveal-anim-to-flip.reveal-anim-visible {
  transform: rotate3d(1, 1, 0, 0deg);
  opacity: 1;
}

.loader {
  border: 16px solid var(--infocobweb-color-grey-80);
  border-top: 16px solid var(--infocobweb-color-main);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: block;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.p-white,
.p-white p,
.p-white span,
.p-white a {
  color: #fff;
}

.p-white a {
  text-decoration: underline;
  font-weight: bold;
}

b {
  font-weight: bold;
}

a {
  text-decoration: underline;
  font-weight: bold;
}

a.main {
  color: var(--infocobweb-color-main-80);
}

a.white {
  color: rgba(255, 255, 255, 0.8);
}

.h1, .contenu h1,
.contenu .h1 {
  font-weight: 500;
  color: #ff6060;
  font-size: 50px;
  font-size: 5rem;
}

@media (min-width: 1280px) {
  .h1, .contenu h1,
  .contenu .h1 {
    font-size: 100px;
    font-size: 10rem;
  }
}

.h2, .contenu h2,
.contenu .h2 {
  font-size: 30px;
  font-size: 3rem;
  font-family: var(--infocobweb-font-sec);
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.1;
  text-indent: 35px;
  position: relative;
}

.h2:before, .contenu h2:before,
.contenu .h2:before {
  content: "";
  position: absolute;
  height: 5px;
  width: 30px;
  top: 15px;
  left: -10px;
  background: var(--infocobweb-color-main);
}

.h2 strong, .contenu h2 strong, .contenu .h2 strong,
.h2 b,
.contenu h2 b,
.contenu .h2 b {
  font-weight: bold;
}

.h2-white {
  color: #fff;
}

.h2-main {
  color: var(--infocobweb-color-main);
}

.h3, .contenu h3,
.contenu .h3 {
  font-size: 30px;
  font-size: 3rem;
  font-family: var(--infocobweb-font-main);
  font-weight: 700;
  line-height: 1.1;
  color: var(--infocobweb-color-text);
  margin-top: 15px;
  margin-bottom: 15px;
}

.h3-white {
  color: #fff;
}

.h4, .contenu h4,
.contenu .h4 {
  font-size: 20px;
  font-size: 2rem;
  font-family: var(--infocobweb-font-sec);
  font-weight: bold;
  line-height: 1.1;
  margin: 15px 0 10px;
}

.h4-white {
  color: #fff;
}

.h5, .contenu h5,
.contenu .h5 {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: var(--infocobweb-font-sec);
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.h5-white {
  color: #fff;
}

.h6, .contenu h6,
.contenu .h6 {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.h6-white {
  color: #fff;
}

.order-container {
  display: flex;
  flex-direction: column;
}

.order-container .order-1 {
  order: 1;
}

.order-container .order-2 {
  order: 2;
}

.order-container .order-3 {
  order: 3;
}

.order-container .order-4 {
  order: 4;
}

.order-container .order-5 {
  order: 5;
}

.page-title {
  font-size: 35px;
  font-size: 3.5rem;
  font-family: var(--infocobweb-font-sec);
  font-weight: 900;
  color: var(--infocobweb-color-text);
  margin: 40px 0 30px;
  position: relative;
  text-align: center;
  z-index: 2;
}

@media (min-width: 768px) {
  .page-title {
    font-size: 40px;
    font-size: 4rem;
  }
  .page-title:before {
    content: attr(data-outline);
    display: block;
    font-size: 90px;
    font-size: 9rem;
    font-family: var(--infocobweb-font-sec);
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--infocobweb-color-text-40);
    z-index: -1;
  }
}

@media (min-width: 768px) and (min-width: 1280px) {
  .page-title:before {
    bottom: 0;
  }
}

@media (min-width: 1280px) {
  .page-title:before {
    font-size: 100px;
    font-size: 10rem;
  }
}

.page-title .page-sub-title {
  font-size: 60%;
  font-weight: 400;
  font-family: var(--infocobweb-font-main);
  color: #fff;
  display: block;
  margin-bottom: 15px;
}

.tags {
  display: flex;
  margin: 15px 0;
  justify-content: left;
  flex-direction: row;
}

.tags .tag {
  font-size: 13px;
  font-size: 1.3rem;
  padding: 5px 10px 7px;
  border-radius: 3px;
  background-color: var(--infocobweb-color-grey-80);
  margin-right: 15px;
}

.tags .tag-main {
  background-color: var(--infocobweb-color-main);
}

.tags .tag-main,
.tags .tag-main a {
  color: #fff;
  font-weight: bold;
}

.tags .tag-secondary {
  background-color: var(--infocobweb-color-secondary);
}

.tags .tag-secondary,
.tags .tag-secondary a {
  color: #fff;
  font-weight: bold;
}

.tags .tag-error {
  background-color: #c12026;
}

.tags .tag-error,
.tags .tag-error a {
  color: #fff;
  font-weight: bold;
}

.tags .tag a {
  display: block;
  box-shadow: none;
}

.entry {
  background: #fff;
  padding-bottom: 25px;
  height: calc(100% - 25px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.entry:before {
  content: "";
  position: absolute;
  height: 5px;
  width: calc(100% - 40px);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--infocobweb-color-main);
}

.entry .entry-inner {
  height: 100%;
}

.entry .entry-image {
  position: relative;
}

.entry .entry-image .if-image {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 56.25%;
  margin: 0 auto;
  overflow: hidden;
}

.entry .entry-image .if-image img {
  position: absolute;
  top: 0;
  left: 0;
}

.entry .entry-text {
  padding: 20px 25px 50px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.entry .entry-text h2 {
  font-size: 28px;
  font-size: 2.8rem;
  color: var(--infocobweb-color-text);
  font-family: var(--infocobweb-font-sec);
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
}

.entry .entry-text h2 a {
  box-shadow: none;
  text-decoration: none;
  color: var(--infocobweb-color-text);
}

.entry .entry-text h2[class*="-white"] a {
  color: #fff;
}

.entry .entry-categorie {
  font-size: 15px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin: 0;
  letter-spacing: 1px;
  color: var(--infocobweb-color-text);
}

.entry .entry-categorie:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--infocobweb-color-main);
}

.entry .entry-categorie-white {
  color: #fff;
}

.entry .entry-excerpt {
  margin: 10px 0 25px;
  line-height: 1.2;
}

.entry .entry-excerpt-white {
  color: #fff;
}

.entry .btn.entry-link_back {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.entry:hover .if-image img {
  transform: scale(1.1);
}

.entry:hover .btn:before {
  background: var(--infocobweb-color-main);
  color: #fff;
}

.page-header {
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  max-height: 400px;
}

@media (min-width: 768px) {
  .page-header {
    max-height: 430px;
  }
}

@media (min-width: 1280px) {
  .page-header {
    max-height: 530px;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  .page-header {
    overflow: hidden;
  }
}

.page-header .page-header-image {
  position: relative;
  display: block;
  width: 100%;
  max-height: 400px;
}

@media (min-width: 768px) {
  .page-header .page-header-image {
    max-height: 430px;
  }
}

@media (min-width: 1280px) {
  .page-header .page-header-image {
    max-height: 530px;
  }
}

.page-header .page-header-image .if-image {
  width: 100%;
  background: #000;
  height: 530px;
  max-height: 400px;
}

@media (min-width: 768px) {
  .page-header .page-header-image .if-image {
    max-height: 430px;
  }
}

@media (min-width: 1280px) {
  .page-header .page-header-image .if-image {
    max-height: 530px;
  }
}

.page-header .page-header-image .if-image img {
  opacity: 0.7;
}

.page-header .page-header-contenu {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  padding: 30px 50px 50px 50px;
  width: 100%;
}

@media (min-width: 768px) {
  .page-header .page-header-contenu {
    width: auto;
    left: 300px;
    transform: translateX(0);
  }
}

.page-header .page-header-contenu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 40%;
  z-index: -1;
  background: var(--infocobweb-color-main-80);
}

@media (min-width: 768px) {
  .page-header .page-header-contenu:before {
    width: 260px;
    left: 0;
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .page-header .page-header-contenu:after {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    height: calc(100% + 40px);
    width: 300px;
    z-index: -1;
    border: 1px solid var(--infocobweb-color-main);
  }
}

.page-header .page-header-contenu .page-header-icon-container {
  position: absolute;
  top: 0;
  left: 70%;
  width: 315px;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.page-header .page-header-contenu .page-header-icon {
  width: 100%;
  height: auto;
}

.page-header .page-header-contenu .page-header-icon svg {
  fill: rgba(0, 0, 0, 0.1);
}

.page-header .page-header-contenu .page-header-titles {
  position: relative;
}

.page-header .page-header-contenu .page-header-title {
  font-size: 35px;
  font-size: 3.5rem;
  color: #fff;
  font-family: var(--infocobweb-font-sec);
  font-weight: bold;
  text-align: center;
}

@media (min-width: 768px) {
  .page-header .page-header-contenu .page-header-title {
    text-align: left;
  }
}

@media (min-width: 1280px) {
  .page-header .page-header-contenu .page-header-title {
    font-size: 65px;
    font-size: 6.5rem;
  }
}

.page-header .page-header-contenu .page-header-subtitle {
  text-transform: uppercase;
  font-family: var(--infocobweb-font-main);
  letter-spacing: 5px;
  margin-bottom: 10px;
  display: block;
  font-weight: 400;
  font-size: 15px;
  font-size: 1.5rem;
}

@media (min-width: 1280px) {
  .page-header .page-header-contenu .page-header-subtitle {
    font-size: 20px;
    font-size: 2rem;
  }
}

.page-header.page-header-projet {
  max-height: 500px;
}

@media (min-width: 768px) {
  .page-header.page-header-projet {
    max-height: 600px;
  }
}

@media (min-width: 1280px) {
  .page-header.page-header-projet {
    max-height: 700px;
  }
}

.page-header.page-header-projet .page-header-image {
  max-height: 500px;
}

@media (min-width: 768px) {
  .page-header.page-header-projet .page-header-image {
    max-height: 600px;
  }
}

@media (min-width: 1280px) {
  .page-header.page-header-projet .page-header-image {
    max-height: 700px;
  }
}

.page-header.page-header-projet .page-header-image .if-image {
  max-height: 500px;
  height: 500px;
}

@media (min-width: 768px) {
  .page-header.page-header-projet .page-header-image .if-image {
    max-height: 600px;
  }
}

@media (min-width: 1280px) {
  .page-header.page-header-projet .page-header-image .if-image {
    max-height: 700px;
    height: 700px;
  }
}

.navigation.pagination {
  text-align: center;
  padding: 0 0 30px;
  width: 100%;
}

.navigation.pagination a {
  box-shadow: none;
}

.navigation.pagination .screen-reader-text {
  display: none;
}

.navigation.pagination .nav-links .page-numbers {
  font-size: 15px;
  font-size: 1.5rem;
  display: inline-block;
  padding: 6px 10px 7px;
  margin: 0 3px;
  border-radius: 2px;
  font-weight: 700;
  background: #fff;
  transition: all 0.3s;
  color: var(--infocobweb-color-main);
  text-decoration: none;
}

.navigation.pagination .nav-links .page-numbers:hover {
  background: var(--infocobweb-color-main);
  color: #fff;
}

.navigation.pagination .nav-links .page-numbers.current {
  color: #fff;
  background: var(--infocobweb-color-main);
}

input {
  outline: none;
}

.btn {
  font-size: 16px;
  font-size: 1.6rem;
  position: relative;
  display: inline-block;
  font-weight: 400;
  box-shadow: none;
  text-decoration: none;
  cursor: pointer;
  width: max-content;
  color: var(--infocobweb-color-text);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn:before {
  content: '\2192';
  position: absolute;
  background: transparent;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  font-size: 15px;
  font-size: 1.5rem;
  padding-top: 6px;
  border-radius: 50px;
  text-align: center;
  background: transparent;
  border: 1px solid var(--infocobweb-color-main);
  color: var(--infocobweb-color-main);
  margin-left: 10px;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn.btn-white {
  color: #fff;
}

.btn.btn-white:before {
  background: #fff;
  border: none;
}

.btn.btn-sec {
  color: var(--infocobweb-color-secondary);
}

.btn.btn-bold {
  font-weight: 700;
}

.btn-rounded {
  line-height: 1.1;
  position: relative;
  z-index: 1;
  padding: 13px 20px 13px;
  text-align: center;
  color: #fff;
  border-radius: 50px;
  font-weight: 700;
  background: var(--infocobweb-color-main);
  overflow: hidden;
}

.btn-rounded:before {
  display: none;
}

.btn-rounded:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background: var(--infocobweb-color-main-dark);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn-rounded.btn-white {
  color: var(--infocobweb-color-text);
}

.btn-rounded.btn-main {
  color: #fff;
}

.btn-rounded.btn-sec {
  color: #fff;
}

.btn:hover:before {
  background: var(--infocobweb-color-main);
  color: #fff;
}

.btn-container {
  text-align: center;
}

.dadywinie {
  display: none !important;
}

*::-webkit-input-placeholder,
*::-moz-placeholder,
*:-ms-input-placeholder,
*:-moz-placeholder {
  color: var(--infocobweb-color-text-80);
}

.form {
  padding-top: 0;
  padding-bottom: 0;
}

.form .field {
  display: block;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.form .field span {
  font-size: 14px;
  font-size: 1.4rem;
  display: inline-block;
  color: #fff;
}

.form .field span a {
  color: #fff;
}

.form .field span strong {
  font-weight: bold;
}

.form .field.field-required span:after {
  content: "*";
  color: var(--infocobweb-color-main);
  display: inline;
  margin-left: 5px;
}

.form .field.label-file span {
  font-weight: 700;
  font-family: var(--infocobweb-font-sec);
  font-size: 18px;
  font-size: 1.8rem;
  display: block;
  margin-bottom: 5px;
}

.form .field input[type=date],
.form .field input[type=text],
.form .field input[type=password],
.form .field input[type=email],
.form .field input[type=tel],
.form .field input[type=file],
.form .field textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: var(--infocobweb-font-main);
  line-height: 20px;
  outline: 0;
  border: 1px solid var(--infocobweb-color-grey-80);
  border-radius: 25px;
  background: #FFF;
  transition: all, .3s;
}

.form .field input[type=date]:focus,
.form .field input[type=text]:focus,
.form .field input[type=password]:focus,
.form .field input[type=email]:focus,
.form .field input[type=tel]:focus,
.form .field input[type=file]:focus,
.form .field textarea:focus {
  border: 1px solid var(--infocobweb-color-secondary);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.form .field textarea {
  border-bottom-right-radius: 0;
  padding: 10px 15px;
  height: 75px;
}

.form .field select {
  padding: 10px 5px;
  width: 100%;
  border-radius: 25px;
  border: 1px solid var(--infocobweb-color-grey-80);
  appearance: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: right 15px center;
}

.form .field.field-slide-checkbox {
  position: relative;
}

.form .field.field-slide-checkbox input[type=checkbox] {
  position: absolute;
  top: 5px;
  left: 20px;
  z-index: -1;
}

.form .field.field-slide-checkbox span {
  cursor: pointer;
  position: relative;
  font-weight: 400;
  padding: 5px 0 5px 50px;
  margin: 0;
  display: inline-block;
}

.form .field.field-slide-checkbox span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 24px;
  background: var(--infocobweb-color-grey);
  border-radius: 20px;
  transition: 0.3s;
  display: block;
  z-index: 1;
}

.form .field.field-slide-checkbox span:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 20px;
  transition: 0.3s;
  z-index: 2;
}

.form .field.field-slide-checkbox span:active:after {
  width: 16px;
}

.form .field.field-slide-checkbox input:checked + span:before {
  background: var(--infocobweb-color-main);
}

.form .field.field-slide-checkbox input:checked + span:after {
  left: 36px;
  transform: translateX(-100%);
}

header {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  header {
    margin: 20px 0;
  }
}

header .logo_header {
  margin: 0 10px;
  width: 30px;
  height: 30px;
}

@media (min-width: 1280px) {
  header .logo_header {
    width: initial;
    height: initial;
  }
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  margin: 0 0 0 20px;
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: 500;
  color: #ff6060;
  text-decoration: none;
}

@media (min-width: 768px) {
  header nav ul li a {
    margin: 0 0 0 70px;
    font-size: 24px;
    font-size: 2.4rem;
  }
}

footer {
  margin: 0 -100px;
  background: black;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .logo_footer {
  color: white;
  font-size: 60px;
  font-size: 6rem;
}

footer .logo_footer img {
  margin: 0 5px;
}

footer .copy {
  margin-top: 20px;
  color: white;
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  footer .copy {
    font-size: 24px;
    font-size: 2.4rem;
  }
}

.contenu {
  position: relative;
  display: flex;
  flex-direction: column;
  /*@include media-breakpoint(lg) {
        margin-bottom: 300px;
    }
    @include media-breakpoint(xl){
        margin-bottom: 50px;
    }*/
}

.contenu p {
  margin: 0 0 25px;
  color: var(--infocobweb-color-text-80);
  line-height: 1.667;
}

.contenu p b, .contenu p strong {
  font-weight: bold;
}

.contenu blockquote {
  padding: 20px;
  margin-top: 0;
  margin-bottom: 25px;
  position: relative;
  background: #fff;
}

.contenu blockquote:before {
  content: '';
  display: block;
  width: 4px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -2px;
  background: var(--infocobweb-color-main-light);
  z-index: 0;
}

.contenu blockquote, .contenu blockquote p {
  font-family: var(--infocobweb-font-main);
  font-size: 17px;
  font-size: 1.7rem;
  color: var(--infocobweb-color-text-80);
  font-weight: normal;
}

.contenu blockquote strong, .contenu blockquote b, .contenu blockquote p strong, .contenu blockquote p b {
  color: var(--infocobweb-color-main);
}

.contenu blockquote p {
  margin-bottom: 0;
}

.contenu blockquote cite {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding-left: 45px;
  position: relative;
}

.contenu blockquote cite:before {
  content: '';
  display: block;
  height: 1px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  background: var(--infocobweb-color-text);
}

.contenu ul,
.contenu ol {
  padding: 0 20px 0 30px;
  margin: 0 0 25px;
}

.contenu ul li,
.contenu ol li {
  position: relative;
  font-weight: 400;
  line-height: 1.4;
  margin: 0 0 15px 0;
  padding: 0;
  width: 100%;
  color: var(--infocobweb-color-text-80);
}

.contenu ul li b, .contenu ul li strong,
.contenu ol li b,
.contenu ol li strong {
  font-weight: bold;
}

.contenu ul li ul, .contenu ul li ol,
.contenu ol li ul,
.contenu ol li ol {
  padding-left: 30px;
  padding-top: 5px;
}

.contenu ul li ul li, .contenu ul li ol li,
.contenu ol li ul li,
.contenu ol li ol li {
  margin: 0;
  padding: 0;
}

.contenu ul li:last-child,
.contenu ol li:last-child {
  margin-bottom: 0;
}

.contenu ul {
  list-style: none;
  border-left: 1px solid #e4e6e7;
}

.contenu ul li {
  list-style: none;
  position: relative;
}

.contenu ul li:before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: -33px;
  background: var(--infocobweb-color-main-light);
  z-index: 1;
}

.contenu ul li:after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 8px;
  left: -35px;
  background: #e4e6e7;
  z-index: 0;
}

.contenu ul li ul {
  border-left: none;
}

.contenu ul li ul li {
  padding: 0;
}

.contenu ol {
  list-style: decimal;
}

.contenu ol li {
  list-style: decimal;
}

.contenu ol li:before {
  display: none;
}

.contenu .alignfull {
  margin: 50px calc(50% - 50vw) 25px;
  max-width: 100vw;
  width: 100vw;
  padding: 0 15px;
}

.contenu .alignwide {
  max-width: 1380px;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
  padding-right: 15px;
  padding-left: 15px;
}

.contenu sub, .contenu sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.contenu sup {
  top: -0.5em;
}

.contenu sub {
  bottom: -0.5em;
}

.contenu hr {
  margin: 0 0 25px;
  width: 100%;
}

.contenu table {
  width: 100%;
  border: 1px solid var(--infocobweb-color-grey-80);
  background: #FFF;
}

.contenu table tr {
  font-size: 15px;
  font-size: 1.5rem;
  transition: all .3s;
}

.contenu table tr th, .contenu table tr td {
  font-size: 15px;
  font-size: 1.5rem;
  padding: 12px;
  border-bottom: 1px solid var(--infocobweb-color-grey-80);
  text-align: left;
  transition: all .3s;
}

.contenu table tr th {
  font-weight: 700;
  background: var(--infocobweb-color-grey-60);
}

.contenu table tr td {
  color: var(--infocobweb-color-text-80);
  font-weight: 400;
}

.contenu table tr:hover th, .contenu table tr:hover td {
  background: var(--infocobweb-color-grey-20);
}

.contenu table tfoot tr td, .contenu table tfoot tr th, .contenu table thead tr td, .contenu table thead tr th {
  transition: all .3s;
  color: var(--infocobweb-color-text);
  font-weight: 700;
  padding: 12px;
  background: var(--infocobweb-color-grey-60);
  text-align: left;
  border-bottom: 1px solid var(--infocobweb-color-grey-80);
}

.contenu table tfoot tr:hover th, .contenu table tfoot tr:hover td, .contenu table thead tr:hover th, .contenu table thead tr:hover td {
  background: var(--infocobweb-color-grey-20);
}

.contenu .wp-block-gallery {
  max-width: 100%;
}

.contenu .wp-block-gallery .blocks-gallery-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}

.contenu .wp-block-gallery .blocks-gallery-grid .blocks-gallery-item {
  width: auto;
  max-height: 330px;
  padding-bottom: 15px;
  padding-right: 15px;
  margin: 0;
}

.contenu .wp-block-gallery .blocks-gallery-grid .blocks-gallery-item figure {
  width: 100%;
  height: 100%;
  position: relative;
}

.contenu .wp-block-gallery .blocks-gallery-grid .blocks-gallery-item figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contenu .wp-block-gallery.columns-1 .blocks-gallery-grid .blocks-gallery-item {
  flex-basis: 100%;
  max-width: 100%;
}

.contenu .wp-block-gallery.columns-2 .blocks-gallery-grid .blocks-gallery-item {
  flex-basis: 50%;
  max-width: 50%;
}

.contenu .wp-block-gallery.columns-3 .blocks-gallery-grid .blocks-gallery-item {
  flex-basis: 33.33%;
  max-width: 33.33%;
}

.contenu .wp-block-gallery.columns-4 .blocks-gallery-grid .blocks-gallery-item {
  flex-basis: 25%;
  max-width: 25%;
}

.contenu .wp-block-gallery.columns-5 .blocks-gallery-grid .blocks-gallery-item {
  flex-basis: 20%;
  max-width: 20%;
}

.contenu .wp-block-gallery.columns-6 .blocks-gallery-grid .blocks-gallery-item {
  flex-basis: 16.66%;
  max-width: 16.66%;
}

.contenu .wp-block-gallery.is-cropped .blocks-gallery-grid .blocks-gallery-item figure img {
  object-fit: cover;
}

.contenu .wp-block-gallery .blocks-gallery-caption {
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  color: var(--infocobweb-color-main);
  font-style: italic;
}

.contenu .wp-block-cover {
  margin-bottom: 50px;
}

.contenu .wp-block-cover p {
  font-family: var(--infocobweb-font-main);
  max-width: 1380px;
  margin: 0 auto;
}

.contenu .wp-block-image {
  position: relative;
  display: block;
  transition: all .8s;
  border: none;
  overflow: hidden;
  width: 100%;
  height: auto;
  max-height: 450px;
}

.contenu .wp-block-image:before {
  content: '';
  position: absolute;
  height: 5px;
  width: calc(100% - 40px);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--infocobweb-color-main);
}

.contenu .wp-block-image figure {
  width: 100%;
  height: 100%;
}

.contenu .wp-block-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.contenu .wp-block-image figcaption {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: var(--infocobweb-font-main);
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  font-style: italic;
  position: absolute;
  left: 0;
  bottom: 15px;
  z-index: 2;
  display: inline-block;
  width: auto;
  padding: 10px;
  margin: 0;
  background: rgba(255, 255, 255, 0.4);
}

.contenu .wp-block-image a {
  box-shadow: none;
}

.contenu .wp-block-image .aligncenter {
  text-align: center;
  height: auto;
  width: auto;
}

@media (min-width: 576px) {
  .contenu .wp-block-columns {
    flex-wrap: wrap;
  }
}

@media (min-width: 1280px) {
  .contenu .wp-block-columns {
    flex-wrap: nowrap;
  }
}

@media (max-width: 1280px) {
  .contenu .wp-block-columns .wp-block-column {
    flex-basis: 100% !important;
    margin-left: 0;
  }
}

.contenu .wp-block-buttons {
  margin: 20px 0;
  justify-content: center;
}

.contenu .has-background {
  padding: 10px 25px 10px;
  background: var(--infocobweb-color-main);
}

.contenu .has-background.has-main-color-light-background-color {
  background: var(--infocobweb-color-main-light);
}

.contenu .has-background.has-main-color-dark-background-color {
  background: var(--infocobweb-color-main-dark);
}

.contenu .has-background.has-sec-color-background-color {
  background: var(--infocobweb-color-secondary);
}

.contenu .has-background.has-text-color-background-color {
  background: var(--infocobweb-color-main);
}

.contenu .has-background.has-grey-color-background-color {
  background: var(--infocobweb-color-grey);
}

.contenu .has-background.has-white-color-background-color {
  background: #FFF;
}

.contenu .has-background.has-main-color-background-color {
  background: var(--infocobweb-color-main);
}

.contenu .has-text-color.has-main-color-light-color {
  color: var(--infocobweb-color-main-light);
}

.contenu .has-text-color.has-main-color-dark-color {
  color: var(--infocobweb-color-main-dark);
}

.contenu .has-text-color.has-sec-color-color {
  color: var(--infocobweb-color-secondary);
}

.contenu .has-text-color.has-text-color-color {
  color: var(--infocobweb-color-text);
}

.contenu .has-text-color.has-grey-color-color {
  color: var(--infocobweb-color-grey);
}

.contenu .has-text-color.has-white-color-color {
  color: #fff;
}

.contenu .has-text-color.has-main-color-color {
  color: var(--infocobweb-color-main);
}

.contenu .wp-block-embed-vimeo .wp-block-embed__wrapper .embed-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.contenu .wp-block-embed-vimeo .wp-block-embed__wrapper .embed-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  margin: 0 20px;
  font-family: "Montserrat", sans-serif;
  background: white;
  position: relative;
}

@media (min-width: 768px) {
  body {
    margin: 0 100px;
  }
}

body:after {
  content: "xs - 100% (0 \2933 575)";
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999999;
  background: black;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
}

@media (min-width: 576px) {
  body:after {
    content: "sm - 540px (576 \2933 767)";
  }
}

@media (min-width: 768px) {
  body:after {
    content: "md - 720px (768 \2933 1279)";
  }
}

@media (min-width: 1280px) {
  body:after {
    content: "lg - 1250px (1280 \2933 1379)";
  }
}

@media (min-width: 1380px) {
  body:after {
    content: "xl - 1350px (1280 \2933 \221E)";
  }
}

.collapse {
  margin: 30px 10px;
}

.collapse .collapse_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #ff6060;
  border-radius: 5px;
}

.collapse .collapse_title .name {
  color: white;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 500;
}

.collapse .collapse_title .arrow img {
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.collapse.active .arrow img {
  transform: rotate(180deg);
}

.collapse.active .content {
  display: block;
  opacity: 1;
}

.collapse .content {
  background: #f6f6f6;
  padding: 10px;
  border-radius: 5px;
  display: none;
  transition: all 0.6s ease-out;
  opacity: 0;
  padding: 15px 30px;
}

.collapse .content p,
.collapse .content li {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 400;
  color: #ff6060;
  list-style: none;
}

#header_homepage {
  height: 225px;
  border-radius: 25px;
  position: relative;
  margin: 0 0 20px 0;
}

@media (min-width: 768px) {
  #header_homepage {
    margin: 0 0 50px 0;
  }
}

#header_homepage picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  mix-blend-mode: darken;
  background: black;
}

#header_homepage picture img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  opacity: 0.7;
  object-fit: cover;
}

#header_homepage h2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  position: relative;
  z-index: 5;
  font-size: 25px;
  font-size: 2.5rem;
  padding: 20px;
}

@media (min-width: 1280px) {
  #header_homepage h2 {
    font-size: 48px;
    font-size: 4.8rem;
  }
}

#rent_list {
  width: 100%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  #rent_list {
    background: #f6f6f6;
    padding: 50px;
  }
}

#rent_list article {
  border-radius: 10px;
  width: 100%;
  height: 340px;
  margin: 25px 0;
  transition: all 0.3s ease-out;
}

#rent_list article:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

@media (min-width: 1280px) {
  #rent_list article {
    flex: 100%;
  }
}

@media (min-width: 1380px) {
  #rent_list article {
    flex: 25%;
    margin: 25px;
  }
}

#rent_list article .container-rent {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
}

#rent_list article .container-rent .img_container {
  width: 100%;
  height: 100%;
}

#rent_list article .container-rent .img_container::before {
  border-radius: 10px;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 150%);
  mix-blend-mode: darken;
  opacity: 1;
}

#rent_list article .container-rent .img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#rent_list article .container-rent a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

#rent_list article .container-rent a h3 {
  z-index: 8;
  position: absolute;
  bottom: 30px;
  left: 20px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  width: 150px;
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notFound span {
  font-size: 288px;
  font-size: 28.8rem;
  font-weight: 700;
  color: #ff6060;
}

.notFound p {
  font-size: 36px;
  font-size: 3.6rem;
  font-weight: 500;
  color: #ff6060;
  margin: 10px 0 130px 0;
}

@media (min-width: 1280px) {
  .notFound p {
    margin: 60px 0 180px 0;
  }
}

.notFound a {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #ff6060;
}

#Apropos .img_container {
  width: 100%;
  height: 225px;
  border-radius: 25px;
  position: relative;
}

#Apropos .img_container::before {
  content: "";
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
  background: black;
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

#Apropos .img_container img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  opacity: 0.7;
  object-fit: cover;
}

.fiche .carrousel_container {
  height: 415px;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.fiche .carrousel_container .arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}

.fiche .carrousel_container .arrow.right {
  right: 20px;
}

.fiche .carrousel_container .arrow.left {
  left: 20px;
}

.fiche .carrousel_container .pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
}

.fiche .carrousel_container .pagination span {
  color: white;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 500;
}

.fiche .carrousel_container .car_items {
  width: 100%;
  height: 100%;
}

.fiche .carrousel_container .car_items .item {
  width: 100%;
  height: 100%;
  display: none;
  transition: all 0.8s ease-in;
  opacity: 0;
}

.fiche .carrousel_container .car_items .item.active {
  display: block;
  opacity: 1;
}

.fiche .carrousel_container .car_items .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.fiche .container_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fiche .container_header .leftSide {
  width: 100%;
}

@media (min-width: 768px) {
  .fiche .container_header .leftSide {
    width: 50%;
  }
}

.fiche .container_header .leftSide h2 {
  font-size: 36px;
  font-size: 3.6rem;
  font-weight: 500;
  color: #ff6060;
}

.fiche .container_header .leftSide .location {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #ff6060;
}

.fiche .container_header .leftSide .tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.fiche .container_header .leftSide .tags .tag {
  padding: 5px 20px;
  background: #ff6060;
  color: white;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 10px;
  list-style: none;
  margin: 10px 15px 0 0;
}

.fiche .container_header .rightSide {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .fiche .container_header .rightSide {
    width: 50%;
    display: initial;
  }
}

.fiche .container_header .rightSide .name_container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  order: 2;
}

@media (min-width: 768px) {
  .fiche .container_header .rightSide .name_container {
    justify-content: flex-end;
    order: 1;
  }
}

.fiche .container_header .rightSide .name_container .name {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #ff6060;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fiche .container_header .rightSide .name_container .img_user {
  width: 64px;
  height: 64px;
  margin-left: 15px;
}

.fiche .container_header .rightSide .name_container .img_user img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.fiche .container_header .rightSide .stars {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 15px 0;
}

.fiche .container_header .rightSide .stars .star {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.fiche .container_header .rightSide .stars .star svg {
  fill: #e3e3e3;
}

.fiche .container_header .rightSide .stars .star.filled svg {
  fill: #ff6060;
}

.fiche .container_desc {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fiche .container_desc .collapse {
  width: 100%;
}

@media (min-width: 768px) {
  .fiche .container_desc .collapse {
    width: 47%;
  }
}
