/* CURSOR *
* {
    cursor: none;
}
.cursor {
    height: 10px;
    width:  10px;
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
    transform: translate(-50%, -50%);
    user-select: none;
    pointer-events: none;

}

.cursor.cursor-follower {
    transition: top .1s, left .1s, width .3s, height .3s;
    transition-timing-function: ease-out;
    height: 60px;
    width:  60px;
    border: 1px solid rgba(#000, .3);
}

.cursor.cursor-dot {
    background: #000;
    transition: width .25s, height .25s;
}

.cursor-follower.active {
    height: 0;
    width:  0;
}

.cursor-dot.active {
    height: 7px;
    width:  7px;
}

/* ANIMATIONS */
@keyframes reveal-y {
    0% {
        visibility: visible;
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes reveal-x {
    0% {
        visibility: visible;
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes reveal-real {
    0% {
        width: 0;
        opacity: 0;
    }
    100%{
        width: 100%;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        top: 70%;
    }
    to {
        opacity: 1;
        top: 100%;
    }
}

@keyframes fadeInMenuMobile {
    from {
        opacity: 0;
        margin-left: -100%;
    }
    to {
        opacity: 1;
        margin-left:initial;
    }
}

@keyframes slide-header{
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
}

@keyframes rev-block {

    0% {
        left: 0;
        width: 0%;
    }
    50% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0%;
    }

}

@keyframes appear-text {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

@-webkit-keyframes scroll {

    0%,
    20% {
        -webkit-transform: translateY(0) scaleY(1);
    }

    10% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(1.2em) scaleY(1.5);
        opacity: 0.01;
    }
}

@keyframes scroll {

    0%,
    20% {
        transform: translateY(0) scaleY(1);
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: translateY(1.2em) scaleY(1.5);
        opacity: 0.01;
    }
}