.contenu {
    position: relative;
    display: flex;
    flex-direction: column;
    /*@include media-breakpoint(lg) {
        margin-bottom: 300px;
    }
    @include media-breakpoint(xl){
        margin-bottom: 50px;
    }*/

    h1,
    .h1 {
        @extend .h1;
    }

    h2,
    .h2 {
        @extend .h2;
        //margin-top: 65px;
    }

    h3,
    .h3 {
        @extend .h3;
    }

    h4,
    .h4 {
        @extend .h4;
    }

    h5,
    .h5 {
        @extend .h5;
    }

    h6,
    .h6 {
        @extend .h6;
    }

    p {
        margin: 0 0 25px;
        color: $color-text-80;
        line-height: 1.667;

        b, strong{
            font-weight: bold;
        }
    }

    blockquote {
        padding: 20px;
        margin-top: 0;
        margin-bottom: 25px;
        position: relative;
        background: #fff;

         &:before {
            content: '';
            display: block;
            width: 4px;
            height: 100%;

            position: absolute;
            top: 0;
            left: -2px;

            background: $color-main-light;
            z-index: 0;
        }

        &, p {
            font-family: $font-main;
            @include font-size(1.7);
            color: $color-text-80;
            font-weight: normal;
            strong, b{
                color: $color-main;
            }
        }

        p{
            margin-bottom: 0;
        }

        cite {
            @include font(1.5, false, bold, false, italic);
            padding-left: 45px;
            position: relative;

            &:before{
                content: '';
                display: block;
                height: 1px;
                width: 30px;
                position: absolute;
                top: 50%;
                left: 0;
                background: $color-text;
            }
        }

    }


    ul,
    ol {
        padding: 0 20px 0 30px;
        margin: 0 0 25px;

        li {
            position: relative;
            font-weight: 400;
            line-height: 1.4;
            margin: 0 0 15px 0;
            padding: 0;
            width: 100%;
            color: $color-text-80;

            b, strong {
                font-weight: bold;
            }


            ul, ol {
                padding-left: 30px;
                padding-top: 5px;

                li {
                    margin: 0;
                    padding: 0;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    ul {
        list-style: none;
        border-left: 1px solid #e4e6e7;


        li {
            list-style: none;
            position: relative;

            &:before {
                content: '';

                display: block;
                width: 5px;
                height: 5px;

                position: absolute;
                top: 9px;
                left: -33px;

                background: $color-main-light;
                z-index: 1;
            }

            &:after {
                content: '';

                display: block;
                width: 9px;
                height: 9px;

                position: absolute;
                top: 8px;
                left: -35px;

                background: #e4e6e7;
                z-index: 0;
            }

            ul {
                border-left: none;

                li {
                    padding: 0;
                }
            }
        }


    }

    ol {
        list-style: decimal;

        li {
            list-style: decimal;

            &:before {
                display: none;
            }
        }
    }

    .alignfull {
        margin: 50px calc(50% - 50vw) 25px;
        max-width: 100vw;
        width: 100vw;
        padding: 0 15px;
    }

    .alignwide {
        max-width: 1380px;
        width: 100vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        margin-top: 50px;
        padding-right: 15px;
        padding-left: 15px;
    }


    sub, sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sup {
        top: -0.5em;
    }

    sub {
        bottom: -0.5em;
    }

    hr {
        margin: 0 0 25px;
        width: 100%;
    }


    table {
        width: 100%;
        border: 1px solid $color-grey-80;
        background: #FFF;

        tr {
            @include font-size(1.5);
            transition: all .3s;

            th, td {
                @include font-size(1.5);
                padding: 12px;
                border-bottom: 1px solid $color-grey-80;
                text-align: left;
                transition: all .3s;
            }

            th {
                font-weight: 700;
                background: $color-grey-60;
            }

            td {

                color: $color-text-80;
                font-weight: 400;
            }

            &:hover {
                th, td {
                    background: $color-grey-20;
                }
            }
        }

        tfoot, thead {
            tr {
                td, th {
                    transition: all .3s;
                    color: $color-text;
                    font-weight: 700;
                    padding: 12px;
                    background: $color-grey-60;

                    text-align: left;
                    border-bottom: 1px solid $color-grey-80;
                }

                &:hover {
                    th, td {
                        background: $color-grey-20;
                    }
                }
            }
        }
    }

    .wp-block-gallery {
        max-width: 100%;

        .blocks-gallery-grid {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            max-width: 100%;

            .blocks-gallery-item {
                width: auto;
                max-height: 330px;

                padding-bottom: 15px;
                padding-right: 15px;

                margin: 0;

                figure {
                    width: 100%;
                    height: 100%;

                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

            }
        }

        &.columns- {
            &1 {
                .blocks-gallery-grid {
                    .blocks-gallery-item {
                        flex-basis: 100%;
                        max-width: 100%;
                    }
                }

            }

            &2 {
                .blocks-gallery-grid {
                    .blocks-gallery-item {
                        flex-basis: 50%;
                        max-width: 50%;
                    }
                }

            }

            &3 {
                .blocks-gallery-grid {
                    .blocks-gallery-item {
                        flex-basis: 33.33%;
                        max-width: 33.33%;
                    }
                }
            }

            &4 {
                .blocks-gallery-grid {
                    .blocks-gallery-item {
                        flex-basis: 25%;
                        max-width: 25%;
                    }
                }
            }

            &5 {
                .blocks-gallery-grid {
                    .blocks-gallery-item {
                        flex-basis: 20%;
                        max-width: 20%;
                    }
                }
            }

            &6 {
                .blocks-gallery-grid {
                    .blocks-gallery-item {
                        flex-basis: 16.66%;
                        max-width: 16.66%;
                    }
                }
            }
        }

        &.is-cropped {
            .blocks-gallery-grid {
                .blocks-gallery-item {
                    figure {

                        img {
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        .blocks-gallery-caption {
            font-weight: bold;
            text-align: center;
            margin: 0 auto;
            color: $color-main;
            font-style: italic;
        }

    }

    .wp-block-cover {
        margin-bottom: 50px;
        p {
            font-family: $font-main;
            max-width: 1380px;
            margin: 0 auto;
        }
    }

    .wp-block-image {
        position: relative;
        display: block;
        transition: all .8s;
        border: none;
        overflow: hidden;
        width: 100%;
        height: auto;
        max-height: 450px;

        &:before{
            content: '';
            position: absolute;
            height: 5px;
            width: calc(100% - 40px);
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: $color-main;
        }

        figure {
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: contain;
        }

        figcaption {
            @include font-size(1.4);
            font-family: $font-main;
            font-weight: 400;
            line-height: 1.4;
            text-align: left;
            font-style: italic;

            position: absolute;
            left: 0;
            bottom: 15px;
            z-index: 2;

            display: inline-block;
            width: auto;
            padding: 10px;
            margin: 0;

            background: rgba(#fff, 0.4);
        }

        a {
            box-shadow: none;
        }

        .aligncenter {
            text-align: center;
            height: auto;
            width: auto;


        }
    }


    .wp-block-columns {
        @include media-breakpoint(sm) {
            flex-wrap: wrap;
        }

        @include media-breakpoint(lg) {
            flex-wrap: nowrap;
        }

        .wp-block-column {
            @include media-breakpoint-max(lg) {
                flex-basis: 100% !important;
                margin-left: 0;
            }

        }
    }

    .wp-block-buttons{
        margin: 20px 0;
        justify-content: center;
    }

    .has-background {
        padding: 10px 25px 10px;
        background: $color-main;

        &.has-main-color-light-background-color {
            background: $color-main-light;
        }

        &.has-main-color-dark-background-color {
            background: $color-main-dark;
        }

        &.has-sec-color-background-color {
            background: $color-sec;
        }

        &.has-text-color-background-color {
            background: $color-main;
        }

        &.has-grey-color-background-color {
            background: $color-grey;
        }

        &.has-white-color-background-color {
            background: #FFF;
        }

        &.has-main-color-background-color {
            background: $color-main;
        }
    }


    .has-text-color {

        &.has-main-color-light-color {
            color: $color-main-light;
        }

        &.has-main-color-dark-color {
            color: $color-main-dark;
        }

        &.has-sec-color-color {
            color: $color-sec;
        }

        &.has-text-color-color {
            color: $color-text;
        }

        &.has-grey-color-color {
            color: $color-grey;
        }

        &.has-white-color-color {
            color: #fff;
        }

        &.has-main-color-color {
            color: $color-main;
        }
    }

    .wp-block-embed-vimeo{
        .wp-block-embed__wrapper{
            .embed-container{
                width: 100%;
                height: 0;
                padding-bottom: 56.25%;
                position: relative;

                iframe{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}
