body {
    margin: 0 20px;
    font-family: "Montserrat", sans-serif;
    background: white;
    position: relative;

    @include media-breakpoint(md) {
        margin: 0 100px;
    }

    &:after {
        content: "xs - 100% (0 \2933 575)";
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 999999;
        background: black;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        padding: 10px;
        @include media-breakpoint(sm) {
            content: "sm - 540px (576 \2933 767)";
        }
        @include media-breakpoint(md) {
            content: "md - 720px (768 \2933 1279)";
        }
        @include media-breakpoint(lg) {
            content: "lg - 1250px (1280 \2933 1379)";
        }
        @include media-breakpoint(xl) {
            content: "xl - 1350px (1280 \2933 \221E)";
        }
        @include media-breakpoint(xxl) {
            content: "xxl";
        }
    }
}

//*******************COLLAPSES*************************//
//**************************************************//
.collapse {
    margin: 30px 10px;

    .collapse_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        background: $color-first;
        border-radius: 5px;

        .name {
            color: white;
            @include font-size(2.4);
            font-weight: 500;
        }

        .arrow {
            img {
                cursor: pointer;
                transition: all 0.3s ease-out;
            }
        }
    }

    &.active {
        .arrow img {
            transform: rotate(180deg);
        }

        .content {
            display: block;
            opacity: 1;
        }
    }

    .content {
        background: #f6f6f6;
        padding: 10px;
        border-radius: 5px;
        display: none;
        transition: all 0.6s ease-out;
        opacity: 0;
        padding: 15px 30px;

        p,
        li {
            @include font-size(2.4);
            font-weight: 400;
            color: $color-first;
            list-style: none;
        }
    }
}

//*****************Section header homepage********************//
//************************************************************//
#header_homepage {
    height: 225px;
    border-radius: 25px;
    position: relative;
    margin: 0 0 20px 0;

    @include media-breakpoint(md) {
        margin: 0 0 50px 0;
    }

    picture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        mix-blend-mode: darken;
        background: black;

        img {
            width: 100%;
            height: 100%;
            border-radius: 25px;
            opacity: 0.7;
            object-fit: cover;
        }
    }

    h2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 500;
        position: relative;
        z-index: 5;
        @include font-size(2.5);
        padding: 20px;

        @include media-breakpoint(lg) {
            @include font-size(4.8);
        }
    }
}

//*****************Section rent list homepage********************//
//************************************************************//
#rent_list {
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @include media-breakpoint(md) {
        background: #f6f6f6;
        padding: 50px;
    }

    article {
        border-radius: 10px;
        width: 100%;
        height: 340px;
        margin: 25px 0;
        transition: all 0.3s ease-out;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
                rgba(0, 0, 0, 0.22) 0px 10px 10px;
        }

        @include media-breakpoint(lg) {
            flex: 100%;
        }

        @include media-breakpoint(xl) {
            flex: 25%;
            margin: 25px;
        }

        .container-rent {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            position: relative;

            .img_container {
                width: 100%;
                height: 100%;

                &::before {
                    border-radius: 10px;
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: linear-gradient(
                        180deg,
                        rgba(255, 255, 255, 0) 0%,
                        rgba(0, 0, 0, 0.5) 150%
                    );
                    mix-blend-mode: darken;
                    opacity: 1;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }

            a {
                text-decoration: none;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 10;

                h3 {
                    z-index: 8;
                    position: absolute;
                    bottom: 30px;
                    left: 20px;
                    color: white;
                    font-size: 18px;
                    font-weight: 500;
                    width: 150px;
                }
            }
        }
    }
}

//******************************404****************************//
//************************************************************//
.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
        @include font-size(28.8);
        font-weight: 700;
        color: $color-first;
    }

    p {
        @include font-size(3.6);
        font-weight: 500;
        color: $color-first;
        margin: 10px 0 130px 0;

        @include media-breakpoint(lg) {
            margin: 60px 0 180px 0;
        }
    }

    a {
        @include font-size(1.8);
        font-weight: 500;
        color: $color-first;
    }
}

//*******************A Propos header*************************//
//************************************************************//
#Apropos {
    .img_container {
        width: 100%;
        height: 225px;
        border-radius: 25px;
        position: relative;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            mix-blend-mode: darken;
            background: black;
            border-radius: 25px;
            position: absolute;
            top: 0;
            left: 0;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 25px;
            opacity: 0.7;
            object-fit: cover;
        }
    }
}

//*******************Fiche Caroussel*************************//
//************************************************************//
.fiche {
    .carrousel_container {
        height: 415px;
        width: 100%;
        position: relative;
        margin-bottom: 15px;

        .arrow {
            position: absolute;
            top: 50%;
            cursor: pointer;
            transform: translateY(-50%);

            &.right {
                right: 20px;
            }

            &.left {
                left: 20px;
            }
        }

        .pagination {
            position: absolute;
            bottom: 20px;
            left: 50%;

            span {
                color: white;
                @include font-size(1.8);
                font-weight: 500;
            }
        }

        .car_items {
            width: 100%;
            height: 100%;

            .item {
                width: 100%;
                height: 100%;
                display: none;
                transition: all 0.8s ease-in;
                opacity: 0;

                &.active {
                    display: block;
                    opacity: 1;
                    //animation: fadeIn 0.8s;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 25px;
                }
            }
        }
    }

    .container_header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .leftSide {
            width: 100%;

            @include media-breakpoint(md) {
                width: 50%;
            }

            h2 {
                @include font-size(3.6);
                font-weight: 500;
                color: $color-first;
            }

            .location {
                @include font-size(1.8);
                font-weight: 500;
                color: $color-first;
            }

            .tags {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                flex-direction: row;

                .tag {
                    padding: 5px 20px;
                    background: $color-first;
                    color: white;
                    @include font-size(1.4);
                    font-weight: 500;
                    border-radius: 10px;
                    list-style: none;
                    margin: 10px 15px 0 0;
                }
            }
        }

        .rightSide {
            width: 100%;
            display: flex;
            justify-content: space-between;

            @include media-breakpoint(md) {
                width: 50%;
                display: initial;
            }

            .name_container {
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                flex-wrap: wrap;
                order: 2;

                @include media-breakpoint(md) {
                    justify-content: flex-end;
                    order: 1;
                }

                .name {
                    @include font-size(1.8);
                    font-weight: 500;
                    color: $color-first;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .img_user {
                    width: 64px;
                    height: 64px;
                    margin-left: 15px;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
            }

            .stars {
                display: flex;
                justify-content: flex-end;
                list-style: none;
                margin: 15px 0;

                .star {
                    width: 30px;
                    height: 30px;
                    margin: 0 10px;

                    svg {
                        fill: #e3e3e3;
                    }

                    &.filled {
                        svg {
                            fill: $color-first;
                        }
                    }
                }
            }
        }
    }

    .container_desc {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .collapse {
            width: 100%;

            @include media-breakpoint(md) {
                width: 47%;
            }
        }
    }
}
