footer {
    margin: 0 -100px;
    background: black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .logo_footer {
        color: white;
        @include font-size(6);

        img {
            margin: 0 5px;
        }
    }

    .copy {
        margin-top: 20px;
        color: white;
        @include font-size(1.7);
        font-weight: 500;

        @include media-breakpoint(md) {
            @include font-size(2.4);
        }
    }
}
