.p-white {
    &,
    p,
    span,
    a {
        color: #fff;
    }

    a {
        text-decoration: underline;
        font-weight: bold;
    }
}

b {
    font-weight: bold;
}

a {
    text-decoration: underline;
    font-weight: bold;

    &.main {
        color: $color-main-80;
    }

    &.white {
        color: rgba(#fff, 0.8);
    }
}

.h1 {
    font-weight: 500;
    color: $color-first;
    @include font-size(5);

    @include media-breakpoint(lg) {
        @include font-size(10);
    }
}

.h2 {
    @include font-size(3);
    font-family: $font-sec;
    font-weight: bold;
    margin-bottom: 20px;

    line-height: 1.1;

    text-indent: 35px;

    position: relative;

    &:before {
        content: "";
        position: absolute;
        height: 5px;
        width: 30px;
        top: 15px;
        left: -10px;
        background: $color-main;
    }

    strong,
    b {
        font-weight: bold;
    }

    &-white {
        color: #fff;
    }

    &-main {
        color: $color-main;
    }
}

.h3 {
    @include font-size(3);
    font-family: $font-main;
    font-weight: 700;
    line-height: 1.1;
    color: $color-text;

    margin-top: 15px;
    margin-bottom: 15px;

    &-white {
        color: #fff;
    }
}

.h4 {
    @include font-size(2);
    font-family: $font-sec;
    font-weight: bold;
    line-height: 1.1;
    margin: 15px 0 10px;

    &-white {
        color: #fff;
    }
}

.h5 {
    @include font-size(1.6);
    font-family: $font-sec;
    font-weight: bold;

    margin-top: 10px;
    margin-bottom: 5px;

    &-white {
        color: #fff;
    }
}

.h6 {
    @include font-size(1.5);
    font-weight: bold;

    margin-top: 10px;
    margin-bottom: 5px;

    &-white {
        color: #fff;
    }
}

.order-container {
    display: flex;
    flex-direction: column;

    .order- {
        &1 {
            order: 1;
        }

        &2 {
            order: 2;
        }

        &3 {
            order: 3;
        }

        &4 {
            order: 4;
        }

        &5 {
            order: 5;
        }
    }
}

.page-title {
    @include font-size(3.5);
    font-family: $font-sec;
    font-weight: 900;
    color: $color-text;
    margin: 40px 0 30px;
    position: relative;
    text-align: center;
    z-index: 2;
    @include media-breakpoint(md) {
        @include font-size(4);
        &:before {
            content: attr(data-outline);
            display: block;
            @include font-size(9);
            font-family: $font-sec;
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $color-text-40;
            z-index: -1;
            @include media-breakpoint(lg) {
                bottom: 0;
            }
        }
    }
    @include media-breakpoint(lg) {
        &:before {
            @include font-size(10);
        }
    }

    .page-sub-title {
        font-size: 60%;
        font-weight: 400;
        font-family: $font-main;
        color: #fff;
        display: block;
        margin-bottom: 15px;
    }
}

.tags {
    display: flex;
    margin: 15px 0;
    justify-content: left;
    flex-direction: row;

    .tag {
        @include font-size(1.3);
        padding: 5px 10px 7px;
        border-radius: 3px;
        background-color: $color-grey-80;
        margin-right: 15px;

        &-main {
            background-color: $color-main;

            &,
            a {
                color: #fff;
                font-weight: bold;
            }
        }

        &-secondary {
            background-color: $color-sec;

            &,
            a {
                color: #fff;
                font-weight: bold;
            }
        }

        &-error {
            background-color: $color-error;

            &,
            a {
                color: #fff;
                font-weight: bold;
            }
        }

        a {
            display: block;
            box-shadow: none;
        }
    }
}

.entry {
    background: #fff;
    padding-bottom: 25px;
    height: calc(100% - 25px);
    box-shadow: 0 0 10px rgba(#000, 0.1);
    position: relative;

    &:before {
        content: "";
        position: absolute;
        height: 5px;
        width: calc(100% - 40px);
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: $color-main;
    }

    .entry-inner {
        height: 100%;
    }

    .entry-image {
        position: relative;

        .if-image {
            width: 100%;
            height: 0;
            position: relative;
            padding-top: 56.25%;
            margin: 0 auto;
            overflow: hidden;
            img {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    .entry-text {
        padding: 20px 25px 50px;
        position: relative;

        display: flex;
        flex-direction: column;

        h2 {
            @include font(2.8, $color-text, bold, $font-sec);
            position: relative;
            margin-bottom: 20px;
            a {
                box-shadow: none;
                text-decoration: none;
                color: $color-text;
            }

            &[class*="-white"] {
                a {
                    color: #fff;
                }
            }
        }
    }

    .entry-categorie {
        @include font-size(1.5);
        text-transform: uppercase;
        font-weight: 400;
        position: relative;
        margin: 0;
        letter-spacing: 1px;
        color: $color-text;

        &:before {
            content: "";
            position: absolute;
            width: 20px;
            height: 3px;
            left: -35px;
            top: 50%;
            transform: translateY(-50%);
            background: $color-main;
        }

        &-white {
            color: #fff;
        }
    }

    .entry-excerpt {
        margin: 10px 0 25px;
        line-height: 1.2;

        &-white {
            color: #fff;
        }
    }

    .btn.entry-link_back {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }

    &:hover {
        .if-image {
            img {
                transform: scale(1.1);
            }
        }
        .btn {
            &:before {
                background: $color-main;
                color: #fff;
            }
        }
    }
}

.page-header {
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;

    max-height: 400px;
    @include media-breakpoint(md) {
        max-height: 430px;
    }

    @include media-breakpoint(lg) {
        max-height: 530px;
    }

    @media not all and (min-resolution: 0.001dpcm) {
        overflow: hidden;
    }

    .page-header-image {
        position: relative;

        display: block;
        width: 100%;
        max-height: 400px;
        @include media-breakpoint(md) {
            max-height: 430px;
        }

        @include media-breakpoint(lg) {
            max-height: 530px;
        }

        .if-image {
            width: 100%;
            background: #000;

            height: 530px;
            max-height: 400px;
            @include media-breakpoint(md) {
                max-height: 430px;
            }

            @include media-breakpoint(lg) {
                max-height: 530px;
            }

            img {
                opacity: 0.7;
            }
        }
    }

    .page-header-contenu {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;

        padding: 30px 50px 50px 50px;

        width: 100%;

        @include media-breakpoint(md) {
            width: auto;
            left: 300px;
            transform: translateX(0);
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: 40%;
            z-index: -1;
            background: $color-main-80;
            @include media-breakpoint(md) {
                width: 260px;
                left: 0;
                transform: translateX(0);
            }
        }

        @include media-breakpoint(md) {
            &:after {
                content: "";
                position: absolute;
                top: -20px;
                left: -20px;
                height: calc(100% + 40px);
                width: 300px;
                z-index: -1;
                border: 1px solid $color-main;
            }
        }

        .page-header-icon-container {
            position: absolute;
            top: 0;
            left: 70%;
            width: 315px;
            height: 100%;
            overflow: hidden;
            z-index: 0;
        }

        .page-header-icon {
            width: 100%;
            height: auto;

            svg {
                fill: rgba(0, 0, 0, 0.1);
            }
        }

        .page-header-titles {
            position: relative;
        }

        .page-header-title {
            @include font(3.5, #fff, bold, $font-sec);
            text-align: center;
            @include media-breakpoint(md) {
                text-align: left;
            }
            @include media-breakpoint(lg) {
                @include font-size(6.5);
            }
        }

        .page-header-subtitle {
            text-transform: uppercase;
            font-family: $font-main;
            letter-spacing: 5px;
            margin-bottom: 10px;
            display: block;
            font-weight: 400;
            @include font-size(1.5);
            @include media-breakpoint(lg) {
                @include font-size(2);
            }
        }
    }
    &.page-header-projet {
        max-height: 500px;
        @include media-breakpoint(md) {
            max-height: 600px;
        }
        @include media-breakpoint(lg) {
            max-height: 700px;
        }
        .page-header-image {
            max-height: 500px;
            @include media-breakpoint(md) {
                max-height: 600px;
            }
            @include media-breakpoint(lg) {
                max-height: 700px;
            }
            .if-image {
                max-height: 500px;
                height: 500px;
                @include media-breakpoint(md) {
                    max-height: 600px;
                }
                @include media-breakpoint(lg) {
                    max-height: 700px;
                    height: 700px;
                }
            }
        }
    }
}

.navigation {
    &.pagination {
        text-align: center;
        padding: 0 0 30px;
        width: 100%;

        a {
            box-shadow: none;
        }

        .screen-reader-text {
            display: none;
        }

        .nav-links {
            .page-numbers {
                @include font-size(1.5);
                display: inline-block;
                padding: 6px 10px 7px;
                margin: 0 3px;
                border-radius: 2px;
                font-weight: 700;
                background: #fff;
                transition: all 0.3s;
                color: $color-main;
                text-decoration: none;

                &:hover {
                    background: $color-main;
                    color: #fff;
                }

                &.current {
                    color: #fff;
                    background: $color-main;
                }
            }
        }
    }
}

input {
    outline: none;
}
