header {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint(md) {
        margin: 20px 0;
    }

    .logo_header {
        margin: 0 10px;
        width: 30px;
        height: 30px;

        @include media-breakpoint(lg) {
            width: initial;
            height: initial;
        }
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            align-items: center;

            li {
                list-style: none;

                a {
                    margin: 0 0 0 20px;
                    @include font-size(1.7);
                    font-weight: 500;
                    color: $color-first;
                    text-decoration: none;

                    @include media-breakpoint(md) {
                        margin: 0 0 0 70px;
                        @include font-size(2.4);
                    }
                }
            }
        }
    }
}
