
.reveal-parent{
    [class*="reveal-anim-to-"] {
        transition: 1s cubic-bezier(.08, .43, .19, 1.03);
        opacity: 1;
        &.reveal-anim-visible {
            opacity: 1;
            transition-delay: .3s;
            &.reveal-delay {
                transition-delay: .5s;
            }
            &.reveal-delay-2 {
                transition-delay: .7s;
            }
        }
    }
    .reveal-anim-to-fade {
        opacity: 1;
    }
    .reveal-anim-to-top {
        transform: translateY(60px);
        &.reveal-anim-visible {
            transform: translateY(0);
        }
    }
    .reveal-anim-to-bottom {
        transform: translateY(-60px);
        &.reveal-anim-visible {
            transform: translateY(0);
        }
    }
    .reveal-anim-to-left {
        transform: translateX(-60px);
        &.reveal-anim-visible {
            transform: translateX(0);
        }
    }
    .reveal-anim-to-right {
        transform: translateX(60px);
        &.reveal-anim-visible {
            transform: translateX(0);
        }
    }
    .reveal-anim-to-flip {
        transition: 1s cubic-bezier(0.175, 0.885, 0.320, 1.275);
        transform: rotate3d(-1, 1, 0, -80deg);
        opacity: 0;
        &.reveal-anim-visible {
            transform: rotate3d(1, 1, 0, 0deg);
            opacity: 1;
        }
    }
}


